body {
  background: black;
  margin: 0
}

h1 {
  color: #BF9000;
  font-family: 'Montagu Slab', serif;
  font-size: 8rem;
}

h2 {
  color: #BF9000;
  font-family: 'Montagu Slab', serif;
  font-size: 7rem;
  top: 10;
  /* display: inline; */
}

h3 {
  color: #BF9000;
  font-size: 4rem;
}

h4 {
  color: #BF9000;
  font-size: 2rem;
}

h5 {
  color: #BF9000;
}

p {
  color: grey;
  font-size: 1.5rem;
}

.content {
  padding: 3% 3%;
}

.row{

}

#navbar-section {
  background-color: black;
  z-index: 9999;
}

.navbar{
  z-index: 2000;
}

.navbar-logo {
  max-width: 100px;
  height: auto;
}

#dl {
  background-color: black;
  padding: 1% 5% 30% 5%;
}

#priory-select {
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
}

#rituals {
  text-align: center;
  padding-bottom: 20px;
}

.btn {
  display: block;
  width: 100%;
  border: solid;
  border-color: grey;
  background-color: black;
  color: #FFC000;
  cursor: pointer;
  text-align: left;
  margin: 15px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.btn:hover {
  background-color: grey;
  color: #FFC000;
}

.container-fluid {
  padding: 0% 3%;
}

header {
  height: 90vh;
  /* margin-bottom: 5rem; */
  /* background-size: cover; */
  /* margin-bottom: 1rem; */
}

video {
  min-width: 100vw;
  max-height: 80vh;
  object-fit: cover;
}

.overlay {
  max-height: 100vh;
  position: absolute;
  top: 1px;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  vertical-align: center;
  color: #fff;
}

.title {
  text-align: center;
}

#cigarflat {
  height: auto;
  width: auto;
  margin: auto;
  border-radius: 50px;
}

#cigarwhiskey {
  height: auto;
  max-width: 100%;
  padding-top: 50px;
  border-radius: 10px;
}

/* #hero {
  display: inline;
  width: 100%;
  height: auto;
  text-align: center;
}

*/
.heroimage {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#ccc {
  text-align: center;
}

video {
  height: auto;
  max-width: 100%;
}

#cigarrolled {
  border-radius: 10px;
  border-style: none;
}

#cccontent {
  display: flex;
  align-items: center;
  justify-content: center;
}

.photorow {
  padding: 5px 0 0 5px;
  /* background-color: green; */
  position: relative;
  overflow: hidden;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  padding: 0 40px;
}

.imagebox {
  margin: auto;
  float: center;
  width: 250px;
  height: auto;
  box-shadow: 0 0 8px 8px black;
  border-radius: 10px;
  border-width: thick;
}
